<h2 class="title-devise">Renvoyer un mail de confirmation</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="input-button">
  <div class="field-confirmation">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions-confirmation-new">
    <%= f.submit "Valider" %>
  </div>
  </div>
<% end %>
<div class="devise-shared-links-confirmation">
<%= render "devise/shared/links" %>
</div>