<div class="card-admin" style="width: 60%; margin-left: 20%">
    <div class="card-header-admin" id="headingOne">
        <tbody>
            <tr>
                <td><%= image_tag event.image, height: 50 if event.image %></td>
                <td><strong><%= event.title %></td></strong>
                <td><%= event.date %></td><br>
                <td><%= event.address %></td><br>
                <br>
                <td><%= event.description %></td><br>
                <td>
                <div class="buttons-vera">
                <%= link_to 'Voir événement', event_path(event.id) %></td>
                <%= link_to 'Edit', event %>
                <%= link_to 'Refuser', admin_event_path(event.id), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
                <%= link_to 'Accepter', event, method: :validate %>
            </div>
            </tr>
        </tbody>
    </div>
</div>
<br>