<div class="container" style="width: 100%">
    <div class="cards" id="headingOne">
    <div class="card-headers" id="headingOne">
        <tbody>
            <tr>
                <td><%= image_tag event.image, height: 50 if event.image %></td>
                <td><strong><%= event.title %></td></strong>
                <td><%= event.date %></td><br>
                <td><%= event.address %></td><br>
                <br>
                <div class="buttons-vera">
                <%= link_to 'Voir événement', event_path(event.id) %>
                <%= link_to 'Annuler', cancel_admin_event_path(event.id), method: :put %>
                <%= link_to 'Edit', edit_admin_event_path(event.id) %>
                <%= link_to 'Refuser', admin_event_path(event.id), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
                <%= link_to 'Accepter', event, method: :put %>
                </div>
            </div>
            </tr>
        </tbody>
    </div>
</div>
<br>