<div class="card" style="width: 60%; margin-left: 20%">
<div class="card-header" id="headingOne">
<tbody>
      <tr>
        <td><%= image_tag event.image_url, height: 50 if event.image %></td>
        <td><strong><%= event.title %></td></strong>
        <td><%= event.date %></td><br>
        <td><%= event.address %></td><br>
        <br>
        <td><%= event.description %></td><br>
        <td><%= link_to 'Voir événement', event_path(event.id) %></td>
        <%= link_to 'Edit', event %>
        <%= link_to 'Refffuser', admin_event_path(event.id), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
        <%= link_to 'Accepter', event, method: :validate %>
      </tr>
</tbody> 
</div>
</div>
<br>