<% if user_signed_in? %>
<div class="create-event">
    <button><%= link_to 'Créer un évènement', new_admin_event_path %></button>
</div>
<% end %>

<p class="notice-admin Success link"><%= notice %></p>
<h2 class="event-boucle">Demande d'évènement</h2>

<% @events.each do |event| %>
<% if event.status === nil %>
<%= render 'status', event: event %>
<% end %>
<% end %>


<h2 class="event-boucle">Les évènements proposés</h2>

<% @events_proposed.each do |event| %>
<%= render 'status', event: event %>
<% end %>


<h2 class="event-boucle">Les évènements acceptés</h2>

<% @events_in_progress.each do |event| %>
<%= render 'status', event: event %>
<% end %>

<h2 class="event-boucle">Les évènements passée</h2>
<% @events_past.each do |event| %>
<%= render 'status', event: event %>
<% end %>