<h2 class="title-devise">Changer votre mot de passe</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
<div class="input-button-password-new">
  <div class="field-password-new">
    <%= f.label :password, "Nouveau mot de passe" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field-password-new">
    <%= f.label :password_confirmation, "Confirmer nouveau mot de passe" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions-password-new">
    <%= f.submit "changer mon mot de passe" %>
  </div>
  </div>
<% end %>
<div class="devise-shared-links-password">
<%= render "devise/shared/links" %>
</div>
