
<div class="card-events" >
                          
  <scope="col" ><p class="title-event"><%= event.title %></p>
     <div class="bar"></div>
             <div class="show-event">
                     <scope="col_image"><%= image_tag event.image_url %>

            <button class="button">
                <%= link_to 'Agenda', event_path(event.id) %>
            </button>
        </div>
        <scope="col"><p class ="address-date"><%= event.date %><br></p>
        <scope="col"><p class ="address-date"><%= event.adress %><br></p>
        <scope="col"><p class="description-event"><%= event.description %></p>
                



    </div>
       
<br>
<br>


 