
<div class="card">
<div class="card-header" >
             
                <scope="col_image"><%= image_tag event.image_url %><br>
                <scope="col">Titre: <%= event.title %><br>
                <scope="col">Date: <%= event.date %><br>
                <scope="col">Adresse: <%= event.adress %><br><br>
                <scope="col">Description:<br> <%= event.description %><br>
                
                <%= link_to 'Voir événement', event_path(event.id) %>

            </div>
        </div>
<br>



 