
<p id="notice"><%= notice %></p>
<p>Bonjour  
<% if user_signed_in? %>
  <%= current_user.firstname %>
<% end %>
</p>

<%= render 'status', home: @home %>


 <%= render 'comments', home: @home %>
 
<br>
<% if user_signed_in? %>
<%= link_to 'Ajouter commentaire', new_comment_path %>
<% end %>
<br>
