<p class="items-center agenda-description">Bienvenue sur le site de <span>Happy-Nivelle</span>, ici vous avez la possibilité de <span>proposer</span> et de <span>voter</span> des évènements qui seront organisés par l'association si ces derniers sont <span>retenus par la communauté</span>.</p>

<div class="image_comming animate__animated animate__fadeInLeft">
    <%= image_tag("smiley_coming.png", :alt => "logo_happy_nivelle") %>
    <h3>Événements À Venir</h3>
</div>

<div class="align-card">
    <% @events_in_progress.each do |event| %>
        <%= render 'status', event: event %>
    <% end %>

</div>
<div class="grey-box">

    <div class="image_comming">
        <%= image_tag("Clock-proposed.png", :alt => "logo_événement_à_venir") %>
        <h3>Événements proposés</h3>

    </div>
    <div class="test">
        <div class="circle"></div>
        <div class="circletitle"></div>
    </div>
    <div class="align-card">
        <% @events_proposed.each do |event| %>
        <%= render 'status', event: event %>
        <% end %>
    </div>
    <div class="quart-disque">
        <%= image_tag("quart-disque.png", :alt => "logo_événement_proposé") %>
    </div>
</div>

<div class="image_comming">
    <%= image_tag("flag_past.png", :alt => "logo_événement_terminé") %>
    <h3>Événements terminés</h3>
</div>

<div class="align-card">
    <% @events_past.each do |event| %>
    <%= render 'status', event: event %>
    <% end %>
</div>
<br>