

<p id="notice"><%= notice %></p>




 <h5>Les évènements acceptés</h5>

<% @events_in_progress.each do |event| %>
  <%= render 'status', event: event %>
<% end %>

<div class="grey-box">
<h5>Les évènements proposés</h5>
 <% @events_proposed.each do |event| %>
  <%= render 'status', event: event %>
<% end %>
</div>

<h5>Les évènements passés</h5>
 <% @events_past.each do |event| %>
  <%= render 'status', event: event %>
<% end %>

<br>
<% if user_signed_in? %>

<%= link_to 'Ajouter commentaire', new_comment_path %>

<% end %>
<br>
