<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
  <div class="center_errors" style="display:flex; justify-content:center;">
    <div id="error_explanation" style="text-align:center;">
      <p style="color:red; font-weight:bold; text-align:center;" >Un ou plusieurs champs sont incorrects.</p>
  </div>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_field :date %>
  </div>


  <div class="field">
    <%= form.label :adresse %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
  <%= form.label :Choisir_une_image %>
  <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "Créer l'évènement" %>
    
  </div>
<% end %>
