<div class="card" style="width: 60%; margin-left: 20%">
  <div class="card-header" id="headingOne event-<%= event.id %>">       
      <% if user_signed_in? %>
      
        <%= link_to 'Je participe', participates_event_path(event), method: :put, remote: true, :class => "btn btn-success" %>
        <%= link_to 'Peut-être', maybes_event_path(event), method: :put, remote: true, :class => "btn btn-warning" %>
        <%= link_to 'Je ne participe pas',notparticipates_event_path(event), method: :put, remote: true, :class => "btn btn-danger" %>
     
       
<% end %>
      


      <br>
      <br>
      <scope="col"><%= image_tag event.image_url, height: 200 if event.image %><br>
      <scope="col">Titre: <%= event.title %><br>
      <scope="col">Date: <%= event.date %><br>
      <scope="col">Adresse: <%= event.adress %><br><br>
      <scope="col">Description:<br> <%= event.description %><br>

      <%= link_to 'Voir évenement', event_path(event.id) %>
  </div>
</div>
<br>


