<div class="card">
    <div class="card-header" id="headingOne">


        <div class="composant-event">
            <div class="image-date-event">

                <scope="col">
                    <div class="image-event"><%= image_tag event.image %></div><br>
            </div>
            <div class="title-description-event">
                <div class="date-title-address">
                <div class="events-title">
                    <scope="col"><%= event.title.upcase %></scope="col">
                    </div>
                    <scope="col"><%= event.date %></scope="col">
                    <scope="col"><%= event.address %></scope="col">
                </div>
                <br>
                <br>
                <scope="col"><%= event.description %></scope="col"><br>
                    <div class="button-event">
                        <%= link_to 'Voir évenement', event_path(event.id) %>
                    </div>
            </div>
            <br>

        </div>

        <% if user_signed_in? %>
        <div class="button-voted">
            <%= link_to 'Je participe', participates_event_path(event), method: :put, remote: true, :class => "button-account-participate event-size" %>
            <%= link_to 'Peut-être', maybes_event_path(event), method: :put, remote: true, :class => "button-account-maybe event-size" %>
            <%= link_to 'Je ne participe pas',notparticipates_event_path(event), method: :put, remote: true, :class => "button-account-notparticipate event-size" %>
        </div>

        <% end %>

    </div>
</div>