<div class="header-image-events-show">
  <%= image_tag("header-events.png", :alt => "logo_facebook") %>
</div>
<p id="notice"><%= notice %></p>

<div class="container-event-show">
<div class="date-title-address-show">
<p>
  <strong><%= @event.title %></strong>
  
</p>

<p>
  <strong><%= @event.date.to_formatted_s(:long) %></strong>
  
</p>

<p>
  <strong><%= @event.address %></strong>
  
</p>
</div>
<p>
  
  <%= @event.description %>
</p>

<p class="image-show">
  
  <scope="col"><%= image_tag @event.image_url %>
</p>




<%= link_to 'Retour', events_path %>
</div>