
<p id="notice" class="animate__animated animate__tada"><%= notice %></p>

<div class="container-event-show">
    <div class="date-title-address-show">

        <p class="title-event-show">
            <strong><%= @event.title.upcase %></strong>
        </p>
<div class="align-address-date">
        <p>
            <strong><%= @event.date.to_formatted_s(:db) %></strong>
        </p>
        <p>
            <stong><%= @event.address %></strong>
        </p>
        </div>
    </div>
    <div class="border-vote"></div>
    <div class="vote">
        <p class="participate"><%= @vote_participated %> Présents</p>
        <p class="maybe"><%= @vote_maybe_participated%> Peut-être</p>
        <p class="notparticipate"><%= @vote_not_participated%> Absents</p>
    </div>
    <p class="event-describe">
        <%= @event.description %>
    </p>

    <p class="image-show">
        <scope="col"><%= image_tag @event.image %>
    </p>

    <%= link_to 'Retour', :back %>
</div>