
  <h3 class="title-form">Envoyez-nous un message ! :)</h3>
<div class="form">
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
 
    <%= f.input :name, label: 'Nom', :required => true %>
   
    <%= f.input :email, label: 'E-mail', :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <%= f.check_box :rgpd %>
    <%= f.label :rg, '*Champs obligatoire. J\'accepte d\'être recontacté via les informations fournies dans ce formulaire. Aucune donnée n\'est conservé.' %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <div class="button-submit">
      <%= f.button :submit, 'Envoyer', :class=> "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>