<div class="container-about">
    <div class="text-about">
        <br>

        <h3 class="association-title">Notre association</h3>
        <br>
        <p><strong>La concrétisation d'une belle amitié</strong></p>
        <p>
            Happy nivelle est la concrétisation d'une belle amitié aussi bien pour 
            nous  membres du bureau, que pour nos bénévoles, nous avions envie, étant 
            issue pour beaucoup de diverses associations, de pouvoir nous investir, 
            compléter et élargir le panel d'associations déjà présent dans notre petit 
            village. Notre but est de pouvoir réaliser des festivités, approfondir 
            les évènements sportifs et ouvrir le champs aux voyages organisés. 
            Nous souhaitons comme nous l'avons indiqués précédemment redonner le sourire 
            autour de nous encore plus vu le contexte sanitaire.
        </p>
    </div>
    <div class="image-about">
        <%= image_tag("image-about.png", :alt => "image_à_propos") %>
        <div class="test"></div>
    </div>
</div>
<div class="title-decoration">
    <p class="title-deco">Happy Nivelle
</div>
</div>
<div class="stats">
<div class="stats-number">
    <div class="text-stats">
        <p><%= @events.all.count %></p>
        <p>évènements au total </p>
</div>

    <div class="text-stats">
        <p><%= @events_past.all.count %></p>
        <p>évènements réalisés </p>
        
      </div>  
           
      <div class="text-stats">
          <p>100%</p>
        <p>Bonheur</p>
        </div>
      </div>
         
        


 <div class="image-stats">
        <%= image_tag("quart-disque.png", :alt => "image_quart_de_cercle") %>
    </div> 


</div>

<div class="container-members">
    <div class="title-members">
        <p>Membre du bureau</p>
    </div>
</div>

<div class="pictures-members">
    <%= image_tag("profil.jpg", :alt => "image_membre_bureau") %>
    <%= image_tag("profil.jpg", :alt => "image_membre_bureau") %>
    <%= image_tag("profil.jpg", :alt => "image_membre_bureau") %>
</div>
<br>
