<!DOCTYPE html>
<html>
  <head>
    <title>Hpn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="desciption" content="Association de festivités, de sport et de voyage à Nivelle. Participez à l'un de nos événements proposés et votés par la communauté pour vous détendre...">
    <meta name="keywords" content="festif festivité sport voyage événement évènementiel évènementielle événementiel fête nivelle nivele nivel" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Belleza&family=Boogaloo&display=swap" rel="stylesheet"> 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
  <body>
  <header>
    <div class ="contact-bar">
    <a href="/" ><div class="logo">
      <%= image_tag("logo-hpn.png", :alt => "logo_happy_nivelle") %>

    </div></a>
    <div class="item-contact-bar">
      <ul class="position-bar">
        <li class="item_contact_bar">
        <div class="image-center-contact-bar">
              <a href="mailto:contact@example.com?subject=Utilisateur happy nivelle">
              <%= image_tag("logo_mail.png", :alt => "logo_mail") %></a>
          <p class="item-text">exemple.test@hotmail.fr</p>
        </div>
          
        </li>
        <li class="item_contact_bar">
        <div class="image-center-contact-bar">
          <a href="tel:+33783447232"><%= image_tag("logo-phone.png", :alt => "logo_phone") %></a>
          <p class="item-text">+33 (0)7.10.20.30.40</p>
         </div>
          
        </li>
        <li>
      <a href="https://www.facebook.com/Happy-Nivelle-102181868489269">
          <%= image_tag("logo-facebook.png", :alt => "logo_facebook") %>
          </a>
        </li>
        <li class="connexion">
          <% if user_signed_in? %>
            <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Connexion', new_user_session_path %>
          <% end %>
        </li> 
        <li class="li-ham">
          <button class="ham"><%= image_tag("burger.png", :alt => "logo_facebook") %></button>
        </li>

      </ul>  
      </div> 
    </div>
    <nav class="nav-ham mobile" >
      <div class="container">
        <ul class="navbar">
          <li><a class ="menuLink" href="/">Accueil</a></li>
          <li><a class ="menuLink" href="/about/index">À propos</a></li>
          <li><a class ="menuLink" href="/events">Boite à idées</a></li>
          <li><a class ="menuLink" href="/agenda/index">Agenda</a></li>       
          <li><a class ="menuLink" href="/contacts/new">Contact</a></li>
          <% if user_signed_in? && current_user.admin? %>
          <li>
          <a class ="" href="/admin/events">Admin</a>
          </li>
          <% end %>

           <% if user_signed_in? %>
            <li><a class ="menuLink" href="/users">Mon compte</a></li>
          <% else %>
            <li><a class ="menuLink" href="/users/sign_in">Mon compte</a></li>
          <% end %>
    
        </ul>
      </div>

    </nav>
    <nav class="pc" >
     <ul class="navbar">
          <li><a class ="menuLink" href="/">Accueil</a></li>
          <li><a class ="menuLink" href="/about/index">À propos</a></li>
          <li><a class ="menuLink" href="/events">Boite à idées</a></li>
          <li><a class ="menuLink" href="/agenda/index">Agenda</a></li>       
          <li><a class ="menuLink" href="/contacts/new">Contact</a></li>
          <% if user_signed_in? && current_user.admin? %>
          <li>
          <a class ="menuLink" href="/admin/events">Admin</a>
          </li>
          <% end %>

          <% if user_signed_in? %>
            <li><a class ="menuLink" href="/users">Mon compte</a></li>
          <% else %>
            <li><a class ="menuLink" href="/users/sign_in">Mon compte</a></li>
          <% end %>
    
        </ul>
        </nav>
    <div class="covid_band">
      <p>Les événements peuvent être annulés en raison du COVID-19</p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
</header>
  
           
      </ul>
    </div>
  </div>

    <div class="header-image">
  
      <p class="title animate__animated animate__slideInLeft">Happy Nivelle</p>
      <p class="subtitle animate__animated animate__slideInLeft">Association d’évènementielle</p>
      <p class="catch_phrase animate__animated animate__slideInLeft">Organisateur de soirée a thème, weekend , et voyage à modifier...</p>

      <% if current_page? ('/') %>
        <%= image_tag("happy-header-home.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/events') || ('/events/new') ||  %>
        <%= image_tag("header-events.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/about/index') %>
        <%= image_tag("header-about.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/agenda/index') %>
        <%= image_tag("header-agenda.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/users/sign_in') %>
              <%= image_tag("header-sign_in.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/users') %>
              <%= image_tag("header-sign_in.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/users/sign_up') %>
              <%= image_tag("header-sign_in.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/users/edit') %>
              <%= image_tag("header-sign_in.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/contacts/new') %>
              <%= image_tag("header-contact.png", :alt => "logo_facebook") %>
      <% elsif current_page? (new_event_path) %>
              <%= image_tag("header-events.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/users/confirmation/new.user') %>
              <%= image_tag("header-sign_in.png", :alt => "logo_facebook") %>
      <% elsif current_page? ('/users/password/new') %>
              <%= image_tag("header-sign_in.png", :alt => "logo_facebook") %>
      <% elsif current_page? (@event) %>
              <%= image_tag("header-events.png", :alt => "logo_facebook") %>
      <% else current_page? %>
              <%= image_tag("errors.png", :alt => "errors_image") %>   
    <% end %>

     </div>


    <%= yield %>

<footer>

<div class="logo-footer">
<a href="/" ><div class="logo">
  <%= image_tag("logo-hpn.png", :alt => "logo_facebook") %>
   </div></a>
</div>
<div class="container-footer">
          <p><a class ="contact-footer" href="/contacts/new">Contactez-nous</a></p>
          <p class="address-footer">59230 Nivelle</p>
          <p><a class ="contact-footer" href="/about/index#legalnotice">Mentions légales</a></p>
<br>

</div>
<div class="facebook-footer">
        <a href="https://www.facebook.com/Happy-Nivelle-102181868489269">
          <%= image_tag("logo-facebook.png", :alt => "logo_facebook") %>
          </a>
</div>
<br>
 <p class="copyright">COPYRIGHT-Happy Nivelle 2021</p>

</footer>
<% javascript_pack_tag 'custom.js' %>
  </body>
</html>